#Aumentar{
    width: 300px;
    height: 80px;
    font-size: 30px;
    color: red;
    background-color: black;


}
#Disminuir{
    width: 300px;
    height: 80px;
    font-size: 30px;
    color: red;
    background-color: black;
}